<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Your Saved Cities</title>
</head>
<body>
  <div class='container-fluid'>
  <!----------------------------------------------------------------------------------------- This is the top nav bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- <a class="navbar-brand" href="/homepage">Welcome!</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/saved_cities">Save Cities <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/mycitiesplot">Plot My Cities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>


      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">City</th>
            <th scope="col">Temperature</th>
            <th scope="col">Air Pollution</th>
            <th scope="col">Delete</th>
            <th scope="col">Impact</th>
            <th scope="col">Wind</th>
            <th scope="col">Carbon Monozide</th>
            <th scope="col">Pressure</th>
          </tr>
        </thead>
        <tbody>
          {% for each in cities %}
          <tr>
            <td>{{each.id}}</td>
            <td>{{each.city_name}}</td>
            <td>{{each.temp}}</td>
            <td>{{each.aqi}}</td>
            <td><a href="/destroy/{{each.id}}">Delete City</a></td>
            <td>{{each.impact}}</td>
            <td>{{each.wind}}</td>
            <td>{{each.co}}</td>
            <td>{{each.pressure}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</body>
</html>